@tailwind base;
@tailwind components;
@tailwind utilities;


.rawdog {
    list-style: disc outside none;
    padding-left: 1em;
}

.rawdog ul, .rawdog ol {
    list-style: inherit;
    margin-left: 15px;
}
